html { overflow-x: hidden; 

} 

/* margin mobile*/

@media screen and (max-width: 765px) {
    .card{

margin-top:5%;


    }
  }


/* margin pc*/
  @media screen and (min-width: 765px) {
    .card{

margin-top:5%;

    }
  }

